@using Application.Dto
@model LoginDto

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Login</h2>
            <form method="post" asp-controller="Auth" asp-action="Index">
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" asp-for="Email" id="email" name="Email" placeholder="Enter your email" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" asp-for=Password id="password" name="Password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                <div class="text-center mt-3">
                    <a href="/Account/Register">Don't have an account? Register here</a>
                </div>
            </form>
        </div>
    </div>
</div>

