<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="M_Adnan" />
    <!-- Document Title -->
    <title>Resume / CV HTML5 Template</title>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- FontsOnline -->
    <link href="https://fonts.googleapis.com/~css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- JavaScripts -->
   
 
</head>
<body>
    <!-- Page Wrapper -->
    <div id="wrap">

        <!-- Header -->
        <nav id="cd-lateral-nav">
            <h5 class="tittle">MotiCv</h5>
            <ul class="cd-navigation">
                <li><a href="index.html">Index Main</a></li>
                <li><a href="index-1.html">Index 2</a></li>
                <li><a href="index-2.html">Index 3</a></li>
                <li><a href="index-3-pages.html">Index Links</a></li>
                <li><a href="about-me.html">About Me</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li class="item-has-children">
                    <a href="index.html">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="blog-single.html">Blog Details</a></li>
                        <li><a href="resume(edit-mode).html">Resume (edit mode)</a></li>
                        <li><a href="resume(edit-professional-experience).html">Resume (edit professional experience)</a></li>
                    </ul>
                </li>
            </ul>
            <h5 class="tittle">Latest Post</h5>
            <ul class="latest-post">

                <!-- Post Small -->
                <li>
                    <div class="media">
                        <div class="media-left"> <a href="#."><img src="~/images/small-img.jpg" alt=""></a></div>
                        <div class="media-body">
                            <a href="#.">
                                Hello Itaewon
                                Project
                            </a>
                            <p class="font-crimson font-italic">Webdesign</p>
                        </div>
                    </div>
                </li>
                <!-- Post Small -->
                <li>
                    <div class="media">
                        <div class="media-left"> <a href="#."><img src="~/images/small-img-1.jpg" alt=""></a></div>
                        <div class="media-body">
                            <a href="#.">Casual in grey</a>
                            <p class="font-crimson font-italic">Webdesign</p>
                        </div>
                    </div>
                </li>
                <!-- Post Small -->
                <li>
                    <div class="media">
                        <div class="media-left"> <a href="#."><img src="~/images/small-img-2.jpg" alt=""></a></div>
                        <div class="media-body">
                            <a href="#.">Transittions</a>
                            <p class="font-crimson font-italic">Webdesign</p>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- End Header -->

        <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="rights">
                <p>© Copyright 2016 MotiCV. All right reserved.</p>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Page Wrapper -->
    <!-- JavaScripts -->
    <script src="~/js/vendors/modernizr.js"></script>
    <script src="~/js/vendors/jquery/jquery.min.js"></script>
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <script src="~/js/vendors/owl.carousel.min.js"></script>
    <script src="~/js/vendors/jquery.isotope.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- Begin Map Script-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/js/vendors/map.js"></script>
    <script src="~/js/myjs.js"></script>

</body>
